<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>


                        <div class="form-group">
                            <form action="/users" method="post">
                                  <input type="text" name="address" id="address" p>
                                <button type="submit" class="btn btn-success btn-lg">Log in</button>

                            </form>
                        </div>





</body>

</html>
